build_*
.cache
.ccache
.trash
node_modules

demo.js
demo.wasm
demo.wasm.map
demo.all.js

compile_commands.json

example/demo.*

thirdparty/build_*
thirdparty/install_*
thirdparty/*.zip
thirdparty/opencv-*